DB_URI=
KEY_ID=
KEY=

STAGE=
REGION=
DB_INSTANCE_IDENTIFIER=
DB_ALLOCATED_STORAGE=
DB_INSTANCE_CLASS=
DB_ENGINE=
DB_MASTER_USERNAME=
DB_MASTER_USER_PASSWORD=
DB_NAME=
S3_BUCKET_NAME=


# PROCESS_CSV_LAMBDA_NAME: 
#   Fn::Join:
#     - ":"
#     - - arn:aws:lambda
#       - Ref: AWS::Region
#       - Ref: AWS::AccountId
#       - function
#       - "${self:service}-${self:provider.stage}-process_csv"